#Home, #Products, #Contact {
  background-image: url("./resources/mainbg.jpg");
  height: 100vh;
}

#Header {
  background-image: url("./resources/headerbg.jpg");
  background-position: center;
  background-size: cover;
  font-family: cursive;
}

#nopad {
  padding-left: 0;
  padding-right: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.container {
  height: 100%;
}
